In [1]:
import pandas as pd
import json

In [2]:
with open('Data/gares-equipees-du-wifi.json', 'r') as f:
    data = json.load(f)
    
with open('Data/frequentation-gares.json', 'r') as f:
    data2 = json.load(f)

In [3]:
df = pd.DataFrame(data)

df2 = pd.DataFrame(data2)

In [4]:
df.head()

,datasetid,recordid,fields,record_timestamp
0,gares-equipees-du-wifi,b4f10706635b6e1a3796e5dc793e05408ac1de72,"{'uic': '484006', 'service_wifi': 'Oui', 'nom_...",2017-07-03T16:42:56.735+02:00
1,gares-equipees-du-wifi,0e2cdb222e36def26c7c15eeb2dee37689f1a8fd,"{'uic': '276485', 'service_wifi': 'Non', 'nom_...",2017-07-03T16:42:56.735+02:00
2,gares-equipees-du-wifi,d6f3505ecec415d9d071d1601aa9abcdf85e0706,"{'uic': '545467', 'service_wifi': 'Oui', 'nom_...",2017-07-03T16:42:56.735+02:00
3,gares-equipees-du-wifi,e87ab5092a04ca8093ab52bb0a75aac52e09eca2,"{'uic': '562421', 'service_wifi': 'Non', 'nom_...",2017-07-03T16:42:56.735+02:00
4,gares-equipees-du-wifi,963a42b9868dacd642d8fcac02fc8bc97c6d1908,"{'uic': '286146', 'service_wifi': 'Non', 'nom_...",2017-07-03T16:42:56.735+02:00

In [5]:
df2.head()

,datasetid,recordid,fields,record_timestamp
0,frequentation-gares,25bf5850aed07678a43b0751ff8fa9eb8b69353b,"{'total_voyageurs_2019': 38473, 'total_voyageu...",2021-09-03T09:27:04.336+02:00
1,frequentation-gares,8ff34bc9917cf5032f364a6467bcfb72ea43d3e1,"{'total_voyageurs_2019': 75954, 'total_voyageu...",2021-09-03T09:27:04.336+02:00
2,frequentation-gares,9fdf07f6f479ee2b4417671f83dfb5d9fdcb849c,"{'total_voyageurs_2019': 109094, 'total_voyage...",2021-09-03T09:27:04.336+02:00
3,frequentation-gares,ef56322237c5f586488dff97f65ed49a71782754,"{'total_voyageurs_2019': 105825, 'total_voyage...",2021-09-03T09:27:04.336+02:00
4,frequentation-gares,9d66014d245f6012cc7f13b3f2dbe23cd1779d7a,"{'total_voyageurs_2019': 10016, 'total_voyageu...",2021-09-03T09:27:04.336+02:00

In [6]:
df = pd.DataFrame(df.fields)
df2 = pd.DataFrame(df2.fields)

In [7]:
df=pd.concat([df.drop(['fields'], axis=1), df['fields'].apply(pd.Series)], axis=1)
df.head()

      uic service_wifi         nom_de_la_gare
0  484006          Oui         Angers-St-Laud
1  276485          Non  Bouffemont-Moisselles
2  545467          Oui      Arpajon (Essonne)
3  562421          Non        Aulnat-Aéroport
4  286146          Non            Armentières

In [8]:
df2=pd.concat([df2.drop(['fields'], axis=1), df2['fields'].apply(pd.Series)], axis=1)
df2.head()

,total_voyageurs_2019,total_voyageurs_2015,total_voyageurs_non_voyageurs_2018,code_uic_complet,totalvoyageurs2017,total_voyageurs_non_voyageurs_2016,code_postal,total_voyageurs_non_voyageurs_2015,total_voyageurs_non_voyageurs_2019,segmentation_drg_2021,nom_gare,total_voyageurs_2020,total_voyageurs_non_voyageurs_2017,total_voyageurs_non_voyageurs_2020,total_voyageurs_2018,total_voyageurs_2016
0,38473,35989,38027,87481614,35637,33021,44170,35989,38473,C,Abbaretz,22773,35637,22773,38027,33021
1,75954,75873,70745,87734129,77218,78088,63260,75873,75954,C,Aigueperse,50677,77218,50677,70745,78088
2,109094,92826,92690,87586693,96909,90187,47190,92826,109094,C,Aiguillon,89616,96909,89616,92690,90187
3,105825,101243,130333,87741769,106398,131663,73210,126554,132281,B,Aime - La Plagne,71603,132998,89504,104267,105331
4,10016,8442,5734,87592667,8524,8301,87700,8442,10016,C,Aixe-sur-Vienne,8611,8524,8611,5734,8301

In [9]:
df2["code_uic_complet"]=df2["code_uic_complet"].str[2:]
df2.head()

,total_voyageurs_2019,total_voyageurs_2015,total_voyageurs_non_voyageurs_2018,code_uic_complet,totalvoyageurs2017,total_voyageurs_non_voyageurs_2016,code_postal,total_voyageurs_non_voyageurs_2015,total_voyageurs_non_voyageurs_2019,segmentation_drg_2021,nom_gare,total_voyageurs_2020,total_voyageurs_non_voyageurs_2017,total_voyageurs_non_voyageurs_2020,total_voyageurs_2018,total_voyageurs_2016
0,38473,35989,38027,481614,35637,33021,44170,35989,38473,C,Abbaretz,22773,35637,22773,38027,33021
1,75954,75873,70745,734129,77218,78088,63260,75873,75954,C,Aigueperse,50677,77218,50677,70745,78088
2,109094,92826,92690,586693,96909,90187,47190,92826,109094,C,Aiguillon,89616,96909,89616,92690,90187
3,105825,101243,130333,741769,106398,131663,73210,126554,132281,B,Aime - La Plagne,71603,132998,89504,104267,105331
4,10016,8442,5734,592667,8524,8301,87700,8442,10016,C,Aixe-sur-Vienne,8611,8524,8611,5734,8301

In [10]:
df3 = df.merge(df2, left_on='uic', right_on='code_uic_complet')

In [11]:
df3 = df3[["uic","nom_de_la_gare","nom_gare","code_postal","service_wifi","total_voyageurs_2019"]]
df3.head()

,uic,nom_de_la_gare,nom_gare,code_postal,service_wifi,total_voyageurs_2019
0,484006,Angers-St-Laud,Angers Saint-Laud,49100,Oui,5739760
1,276485,Bouffemont-Moisselles,Bouffémont - Moisselles,95570,Non,1064575
2,545467,Arpajon (Essonne),Arpajon,91290,Oui,1725668
3,562421,Aulnat-Aéroport,Aulnat Aéroport,63510,Non,10154
4,286146,Armentières,Armentières,59280,Non,793833

In [12]:
df4 = pd.read_csv("Data/gares-tgv.csv",header=0,encoding="latin1")
df4.rename(columns={'Unnamed: 0': 'ID'},inplace=True)
df4.head()

,ID,Nom_Gare,INSEE_REG,NOM_REG,INSEE_DEP,NOM_DEP,Latitude,Longitude
0,1,Aix-en-Provence TGV,84,Auvergne-Rhône-Alpes,1,Ain,46.097,4.847
1,2,Bellegarde,84,Auvergne-Rhône-Alpes,1,Ain,46.114,5.824
2,3,Bourg-en-Bresse,84,Auvergne-Rhône-Alpes,1,Ain,46.196,5.275
3,4,Cluses,84,Auvergne-Rhône-Alpes,1,Ain,46.171,5.577
4,5,Nurieux,84,Auvergne-Rhône-Alpes,1,Ain,46.181,5.521

In [13]:
df3.describe()

       total_voyageurs_2019
count          2.944000e+03
mean           9.267744e+05
std            6.156457e+06
min            0.000000e+00
25%            8.538500e+03
50%            4.713750e+04
75%            2.509542e+05
max            2.447599e+08

In [17]:
def func(x):
    if x < 10000:
        return "low"
    elif x < 50000:
        return "medium"
    else:
        return "high"

df3["traffic"] = df3["total_voyageurs_2019"].apply(func)

In [18]:
df3.head()

,uic,nom_de_la_gare,nom_gare,code_postal,service_wifi,total_voyageurs_2019,traffic
0,484006,Angers-St-Laud,Angers Saint-Laud,49100,Oui,5739760,high
1,276485,Bouffemont-Moisselles,Bouffémont - Moisselles,95570,Non,1064575,high
2,545467,Arpajon (Essonne),Arpajon,91290,Oui,1725668,high
3,562421,Aulnat-Aéroport,Aulnat Aéroport,63510,Non,10154,medium
4,286146,Armentières,Armentières,59280,Non,793833,high

In [54]:
final = df4.merge(df3, left_on='Nom_Gare', right_on='nom_de_la_gare',how="left")
final2 = df4.merge(df3, left_on='Nom_Gare', right_on='nom_gare',how="left")
end = final
end
end.head()

,ID,Nom_Gare,INSEE_REG,NOM_REG,INSEE_DEP,NOM_DEP,Latitude,Longitude,uic,nom_de_la_gare,nom_gare,code_postal,service_wifi,total_voyageurs_2019,traffic
0,1,Aix-en-Provence TGV,84,Auvergne-Rhône-Alpes,1,Ain,46.097,4.847,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Bellegarde,84,Auvergne-Rhône-Alpes,1,Ain,46.114,5.824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Bourg-en-Bresse,84,Auvergne-Rhône-Alpes,1,Ain,46.196,5.275,743005,Bourg-en-Bresse,Bourg-en-Bresse,1000,Oui,1770487.0,high
3,4,Cluses,84,Auvergne-Rhône-Alpes,1,Ain,46.171,5.577,746370,Cluses,Cluses,74300,Non,488615.0,high
4,5,Nurieux,84,Auvergne-Rhône-Alpes,1,Ain,46.181,5.521,743351,Nurieux,Nurieux-Volognat,1760,Non,20701.0,medium

In [38]:
import math
final.head()

,ID,Nom_Gare,INSEE_REG,NOM_REG,INSEE_DEP,NOM_DEP,Latitude,Longitude,uic,nom_de_la_gare,nom_gare,code_postal,service_wifi,total_voyageurs_2019,traffic
0,1,Aix-en-Provence TGV,84,Auvergne-Rhône-Alpes,1,Ain,46.097,4.847,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Bellegarde,84,Auvergne-Rhône-Alpes,1,Ain,46.114,5.824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Bourg-en-Bresse,84,Auvergne-Rhône-Alpes,1,Ain,46.196,5.275,743005,Bourg-en-Bresse,Bourg-en-Bresse,1000,Oui,1770487.0,high
3,4,Cluses,84,Auvergne-Rhône-Alpes,1,Ain,46.171,5.577,746370,Cluses,Cluses,74300,Non,488615.0,high
4,5,Nurieux,84,Auvergne-Rhône-Alpes,1,Ain,46.181,5.521,743351,Nurieux,Nurieux-Volognat,1760,Non,20701.0,medium

In [57]:
for i in final["Nom_Gare"]:
    if(final.loc[final['Nom_Gare'] == i]["nom_gare"].isnull().values.any()):
            final.loc[final['Nom_Gare'] == i] = final2.loc[final2['Nom_Gare'] == i]
final.head()
final.dropna(inplace=True)
final.shape

(159, 15)

In [58]:
final = final[["Nom_Gare","INSEE_REG","NOM_REG","INSEE_DEP","NOM_DEP","Latitude","Longitude","code_postal","service_wifi","traffic"]]
final.head()

,Nom_Gare,INSEE_REG,NOM_REG,INSEE_DEP,NOM_DEP,Latitude,Longitude,code_postal,service_wifi,traffic
0,Aix-en-Provence TGV,84,Auvergne-Rhône-Alpes,1,Ain,46.097,4.847,13592,Oui,high
2,Bourg-en-Bresse,84,Auvergne-Rhône-Alpes,1,Ain,46.196,5.275,1000,Oui,high
3,Cluses,84,Auvergne-Rhône-Alpes,1,Ain,46.171,5.577,74300,Non,high
4,Nurieux,84,Auvergne-Rhône-Alpes,1,Ain,46.181,5.521,1760,Non,medium
5,Antibes,93,Provence-Alpes-Côte d'Azur,6,Alpes-Maritimes,43.584,7.108,6600,Oui,high